<h1>Listing Urls</h1>

<table>
  <thead>
    <tr>
      <th>Token</th>
      <th>Url</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for url <- @urls do %>
    <tr>
      <td><%= url.token %></td>
      <td><%= url.url %></td>

      <td>
        <%= link "Show", to: Routes.url_path(@conn, :show, url) %>
        <%= link "Edit", to: Routes.url_path(@conn, :edit, url) %>
        <%= link "Delete", to: Routes.url_path(@conn, :delete, url), method: :delete, data: [confirm: "Are you sure?"] %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "New Url", to: Routes.url_path(@conn, :new) %></span>
