<h1>Show Url</h1>

<ul>

  <li>
    <strong>Token:</strong>
    <%= @url.token %>
  </li>

  <li>
    <strong>Url:</strong>
    <%= link_and_text @url.url %>
  </li>

  <li>
    <strong>Link:</strong>
    <%= link_and_text Routes.url_url(@conn, :redir, @url.token) %>
  </li>
</ul>

<span><%= link "Edit", to: Routes.url_path(@conn, :edit, @url) %></span>
<span><%= link "Back", to: Routes.url_path(@conn, :index) %></span>
